.html.segment {
    padding-top: 3em !important;
}

.html.segment>.attached.label .clipboard {
    float: right;
}

.html.segment>.attached.label button {
    border: 0;
    background: transparent;
    float: right;
}